<app-header1></app-header1>
<!-- Banner Start -->
  <div class="banner banner-video dark-overlay">
    <video autoplay muted loop id="myVideo">
      <source src="assets/vids/video-banner.mp4" type="video/mp4">
    </video>
    <!-- Prev Arrow -->
    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
    <div class="container">

      <div class="banner-slider">
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Cooking Never Got Any <span class="custom-primary">Easier</span> </h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/" class="btn-custom primary shadow-none">Get my Cook Book <i class="fas fa-arrow-right"></i> </a>
          </div>
        </div>
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Learn The <span class="custom-primary">Art</span> Of Cooking Here</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/contactus" class="btn-custom primary shadow-none">Contact Me <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white"><span class="custom-primary">Elevate</span> Your Cooking Skills</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/" class="btn-custom primary shadow-none">Visit My Blog <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- Next Arrow -->
    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-croissant"></i>
              <h5>Breakfast</h5>
              <span>17 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-taco"></i>
              <h5>Quick Food</h5>
              <span>87 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pot"></i>
              <h5>Cuisine</h5>
              <span>36 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-diet"></i>
              <h5>Vegan</h5>
              <span>42 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-dairy-products"></i>
              <h5>Dairy</h5>
              <span>55 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pudding"></i>
              <h5>Desserts</h5>
              <span>45 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pizza"></i>
              <h5>Pizzas</h5>
              <span>13 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pancakes"></i>
              <h5>Pancakes</h5>
              <span>21 Recipes</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">From My Blog </h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date
        </p>
      </div>
      <div class="row masonry">

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/1.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/2.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 24, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Mini Pancakes Topped With Butter, Honey and Blueberry Sides</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
              <div class="video-player-trigger">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  <div class="video-player-icons">
                    <i class="flaticon-pot"></i>
                    <i class="flaticon-taco"></i>
                    <i class="flaticon-bread"></i>
                    <i class="flaticon-chef"></i>
                    <i class="flaticon-diet"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">How-To</a>
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Chocolate Coated Browny </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/5.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy and Veggies </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      </div>
    </div>
  </section>
  <!-- Blog Posts End -->

  <!-- Testimonials Start -->
  <section class="section light-bg bg-cover" style="background-image:url('assets/images/chef_bg.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Testimonials</h2>
      </div>

      <div class="ct-testimonials">
        <div class="ct-testimonials-slider">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Johny White</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Brian Fitz</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
        </div>
        <div class="ct-arrows">
          <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
          <i class="slider-next fas fa-arrow-right slick-arrow"></i>
        </div>
      </div>

    </div>
  </section>
  <!-- Testimonials End -->

  <!-- CTA Start -->
  <section class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cta-item item-1">
            <div class="cta-item-inner">
              <span class="custom-secondary">Desserts</span>
              <h3>Fruity World</h3>
              <p>Entice yourself with delicious fruity meals!</p>
              <a routerLink="/recipe-archive" class="btn-custom secondary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-1.png" alt="cta">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta-item item-2">
            <div class="cta-item-inner">
              <span class="custom-primary">Vegan</span>
              <h3>Green World</h3>
              <p>Who said vegain food isn't tasty? Check out our vegan recipes!</p>
              <a routerLink="/recipe-archive" class="btn-custom primary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-2.png" alt="cta">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA End -->

  <!-- Products Start -->
  <section class="section section-padding pt-0">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Newly Released Products </h2>
        <p class="subtitle">
          As requested, the new products are here. Get your cookery swag on with my latest collection and most trending items
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="ct-product">
            <div class="ct-product-thumbnail">
              <a routerLink="/product-detail"><img src="assets/img/products/2.png" alt="product"></a>
              <div class="ct-product-controls">
                <a routerLink="/product-detail" class="btn-custom secondary">Buy Now <i class="fas fa-arrow-right"></i> </a>
              </div>
            </div>
            <div class="ct-product-body">
              <h5 class="product-title"> <a routerLink="/product-detail">Oak Wood Cutting Board</a> </h5>
              <p class="product-price custom-secondary">20.00$</p>
              <p class="product-text">Finely crafted wood board for all kinds of ingredients. Board does meat, vegetables...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ct-product">
            <div class="ct-product-thumbnail">
              <a routerLink="/product-detail"><img src="assets/img/products/3.png" alt="product"></a>
              <div class="ct-product-controls">
                <a routerLink="/product-detail" class="btn-custom secondary">Buy Now <i class="fas fa-arrow-right"></i> </a>
              </div>
            </div>
            <div class="ct-product-body">
              <h5 class="product-title"> <a routerLink="/product-detail">State of The Art Spoon</a> </h5>
              <p class="product-price custom-secondary">8.00$</p>
              <p class="product-text">Finely crafted wood spoon that can stir anything, from soup to vegemite...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ct-product">
            <div class="ct-product-thumbnail">
              <a routerLink="/product-detail"><img src="assets/img/products/1.png" alt="product"></a>
              <div class="ct-product-controls">
                <a routerLink="/product-detail" class="btn-custom secondary">Select Options <i class="fas fa-arrow-right"></i> </a>
              </div>
            </div>
            <div class="ct-product-body">
              <h5 class="product-title"> <a routerLink="/product-detail">Custom Branded Kettle</a> </h5>
              <p class="product-price custom-secondary">32.00$ - 48.00$</p>
              <p class="product-text">This kettle boils water faster than you can count to ten, enjoy coffee...</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Products End -->
  <app-footer1></app-footer1>