<app-header2></app-header2>
<!-- Banner Start -->
  <div class="banner banner-video dark-overlay">
    <video autoplay muted loop id="myVideo">
      <source src="assets/vids/video-banner-2.mp4" type="video/mp4">
    </video>
    <div class="container">

      <div class="banner-item">
        <div class="banner-inner text-center">
          <h1 class="title text-white">Sign Up Today. Get <span class="custom-primary">50% </span> Off</h1>
          <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
          <a routerLink="/homepage5" class="btn-custom primary shadow-none">Get my Cook Book <i class="fas fa-arrow-right"></i> </a>
        </div>
      </div>

    </div>
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/breakfast.jpg" alt="category">
              <span>17 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Breakfast</h5>
              <p>Who said breakfast can't be delicious</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/quick-food.jpg" alt="category">
              <span>27 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Quick Food</h5>
              <p>Delve into the world of fast food with my recipes</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/cuisine.jpg" alt="category">
              <span>13 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Cuisine</h5>
              <p>Fine dining can also be cheap. Worry less, cook more</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/vegan.jpg" alt="category">
              <span>21 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Vegan</h5>
              <p>Did someone say vegan burgers? We got it here</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/dairy.jpg" alt="category">
              <span>12 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Dairy</h5>
              <p>From yogurt, to curd, to cheese, we got it all</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/desserts.jpg" alt="category">
              <span>75 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Desserts</h5>
              <p>Flambé your desserts with style, wow your family</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/pizzas.jpg" alt="category">
              <span>44 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Pizzas</h5>
              <p>Cheesy heaven straight into your mouth.</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/pancakes.jpg" alt="category">
              <span>32 Recipes</span>
            </div>
            <div class="ct-category-info">
              <h5>Pancakes</h5>
              <p>Diet, or puffy pancakes, learn both today</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">From My Blog </h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date
        </p>
      </div>
      <div class="row masonry">

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/1.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage5">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/2.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 24, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage5">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Mini Pancakes Topped With Butter, Honey and Blueberry Sides</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
              <div class="video-player-trigger">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  <div class="video-player-icons">
                    <i class="flaticon-pot"></i>
                    <i class="flaticon-taco"></i>
                    <i class="flaticon-bread"></i>
                    <i class="flaticon-chef"></i>
                    <i class="flaticon-diet"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage5">How-To</a>
              <a routerLink="/homepage5">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Chocolate Coated Browny </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage5">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/5.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage5">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy and Veggies </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      </div>
    </div>
  </section>
  <!-- Blog Posts End -->
  <app-footer1></app-footer1>