<!-- Aside (Mobile Navigation) -->
  <aside class="main-aside">
    <a class="navbar-brand" routerLink="/"> <img src="assets/images/ChezJuan.Logo.PNG" alt="logo"> </a>

    <div class="aside-scroll">
      <ul>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Home Pages</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
            <li class="menu-item"> <a routerLink="/homepage2">Home v2</a> </li>
            <li class="menu-item"> <a routerLink="/homepage3">Home v3</a> </li>
            <li class="menu-item"> <a routerLink="/homepage4">Home v4</a> </li>
            <li class="menu-item"> <a routerLink="/homepage5">Home v5</a> </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Blog</a>
          <ul class="submenu">
            <li class="menu-item menu-item-has-children">
              <a routerLink="/blog-grid">Blog Archive</a>
              <ul class="submenu">
                <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                <li class="menu-item"> <a routerLink="/blog-masonry">Masonry</a> </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a routerLink="/blog-single-v1">Blog Single</a>
              <ul class="submenu">
                <li class="menu-item"> <a routerLink="/blog-single-v1">Blog Single v1</a> </li>
                <li class="menu-item"> <a routerLink="/blog-single-v2">Blog Single v2</a> </li>
                <li class="menu-item"> <a routerLink="/blog-single-v3">Blog single v3</a> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Pages</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/aboutus">About Us</a> </li>
            <li class="menu-item"> <a routerLink="/login">Login</a> </li>
            <li class="menu-item"> <a routerLink="/signup">Sign Up</a> </li>
            <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
            <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
            <li class="menu-item"> <a routerLink="/product-detail">Product Details</a> </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Recipes</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/recipe-archive">Recipe Archive</a> </li>
            <li class="menu-item"> <a routerLink="/recipe-detail">Recipe Details</a> </li>
          </ul>
        </li>
        <li class="menu-item">
          <a routerLink="/shop">Shop</a>
        </li>
        <li class="menu-item">
          <a routerLink="/contactus">Contact Us</a>
        </li>
      </ul>

    </div>

  </aside>
  <div class="aside-overlay aside-trigger"></div>

  <!-- Header Start -->
  <header class="main-header header-4">
    <!-- Top Header Start -->
    <div class="top-header">
      <div class="container">
        <div class="top-header-inner">

          <ul class="social-media">
            <li> <a href="javascript:void(0)"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-patreon"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-twitter"></i> </a> </li>
          </ul>

          <ul class="top-header-nav">
            <li> <a routerLink="/login">Login</a> </li>
            <li> <a routerLink="/signup">Register</a> </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/"> <img src="assets/images/ChezJuan.Logo.PNG" alt="logo"> </a>
        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Home Pages</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
              <li class="menu-item"> <a routerLink="/homepage2">Home v2</a> </li>
              <li class="menu-item"> <a routerLink="/homepage3">Home v3</a> </li>
              <li class="menu-item"> <a routerLink="/homepage4">Home v4</a> </li>
              <li class="menu-item"> <a routerLink="/homepage5">Home v5</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Blog</a>
            <ul class="submenu">
              <li class="menu-item menu-item-has-children">
                <a routerLink="/blog-grid">Blog Archive</a>
                <ul class="submenu">
                  <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-masonry">Masonry</a> </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a routerLink="/blog-single-v1">Blog Single</a>
                <ul class="submenu">
                  <li class="menu-item"> <a routerLink="/blog-single-v1">Blog Single v1</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-single-v2">Blog Single v2</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-single-v3">Blog single v3</a> </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Pages</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/aboutus">About Us</a> </li>
              <li class="menu-item"> <a routerLink="/login">Login</a> </li>
              <li class="menu-item"> <a routerLink="/signup">Sign Up</a> </li>
              <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
              <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
              <li class="menu-item"> <a routerLink="/product-detail">Product Details</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Recipes</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/recipe-archive">Recipe Archive</a> </li>
              <li class="menu-item"> <a routerLink="/recipe-detail">Recipe Details</a> </li>
            </ul>
          </li>
          <li class="menu-item">
            <a routerLink="/shop">Shop</a>
          </li>
          <li class="menu-item">
            <a routerLink="/contactus">Contact Us</a>
          </li>
        </ul>

        <div class="header-controls">
          <ul class="header-controls-inner">
            <li class="cart-dropdown-wrapper cart-trigger">
              <i class="flaticon-shopping-basket"></i>
              <ul class="cart-dropdown">
                <li class="cart-item">
                  <img src="assets/img/products/1.png" alt="product">
                  <div class="cart-item-body">
                    <a href="javascript:void(0)">Red Tea Pot With Black Handles</a>
                    <span class="custom-secondary">2x 18.00$</span>
                  </div>
                </li>
                <li class="cart-item">
                  <img src="assets/img/products/2.png" alt="product">
                  <div class="cart-item-body">
                    <a href="javascript:void(0)">Oak Wood Cutting Board</a>
                    <span class="custom-secondary">1x 24.25$</span>
                  </div>
                </li>
                <li class="cart-subtotal">
                  <p> <strong>Subtotal: </strong> 54.25$</p>
                </li>
                <li class="cart-buttons">
                  <a routerLink="/checkout" class="btn-custom primary btn-sm shadow-none">Checkout</a>
                  <a routerLink="/cart" class="btn-custom secondary btn-sm shadow-none">View Cart</a>
                </li>
              </ul>
            </li>
            <li class="search-dropdown-wrapper search-trigger">
              <i class="flaticon-magnifying-glass"></i>
            </li>
          </ul>
          <!-- Toggler -->
          <div class="aside-toggler aside-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      </div>
    </nav>

    <!-- Search Form Start-->
    <div class="search-form-wrapper">
      <div class="search-trigger close-btn">
        <span></span>
        <span></span>
      </div>
      <form class="search-form" method="post">
        <input type="text" placeholder="Search..." value="">
        <button type="button" class="search-btn">
          <i class="flaticon-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <!-- Search Form End-->

  </header>
  <!-- Header End -->