<app-header3></app-header3>
<!-- Subheader Start -->
  <!--<div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Contact Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/contactus">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/contactus">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>-->
  <!-- Subheader End -->

  <!-- Contact Info Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-chef"></i>
              <h5>About Me</h5>
              <span>As far as I remember I always loved food.  Whenever we went to a restaurant, I would go home and try to replicate what I ate.  My mom was a caterer.  She would always recruit me to help.  To this day I when I hear chicken curry cocunt balls, I cringe.  
                After college, I releazed, I didnt like engineering,  so I went to culinary schooll
          
                ...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis justo in odio rutrum imperdiet. Praesent lacinia non sapien et efficitur. Duis faucibus turpis egestas, varius neque a, bibendum nulla. Nullam suscipit justo sed vestibulum fringilla. Ut nec orci eleifend, sagittis erat id, imperdiet quam. Quisque scelerisque metus ac vulputate pellentesque. Integer lobortis tortor ipsum, at sollicitudin nibh pharetra nec. Sed semper orci ut erat venenatis, eget faucibus urna pretium. Donec placerat dignissim nisi non dignissim. Proin sollicitudin vel sem tempus semper. Donec tristique commodo bibendum. Phasellus lorem elit, bibendum in ex sit amet, posuere suscipit massa. Nulla augue ipsum, sodales gravida lacinia sit amet, sollicitudin nec nisl. Mauris vel pretium diam.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-call"></i>
              <h5>Call Me</h5>
              <span>(800) Eat-Shit</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-email"></i>
              <h5>Email</h5>
              <span><a href="mailto:jwgiblin3@hotmail.com">jwgiblin3@hotmail.com</a></span>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-location"></i>
              <h5>Find Me</h5>
              <span>24 Tonawanda Rd</span>
              <span>Glen Rock, NJ 07452</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Info End -->

  <!--Contact Form Start -->
  <section class="section pt-0">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Send me a Message </h2>
        <p class="subtitle">
          Send me a message about anything, let it be about cooking or a get away for a cup of coffee.
        </p>
      </div>

      <form method="post">
        <div class="row">
          <div class="form-group col-lg-6">
            <input type="text" placeholder="First Name" class="form-control" name="fname" value="">
          </div>
          <div class="form-group col-lg-6">
            <input type="text" placeholder="Last Name" class="form-control" name="lname" value="">
          </div>
          <div class="form-group col-lg-12">
            <input type="email" placeholder="Email Address" class="form-control" name="email" value="">
          </div>
          <div class="form-group col-lg-12">
            <input type="text" placeholder="Subject" class="form-control" name="subject" value="">
          </div>
          <div class="form-group col-lg-12">
            <textarea name="message" class="form-control" placeholder="Type your message" rows="8"></textarea>
          </div>
        </div>
        <button type="button" class="btn-custom primary" name="button">Submit</button>
      </form>

    </div>
  </section>
  <!--Contact Form End -->
  <app-footer1></app-footer1>