<app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Blog List</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/blog-list">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/blog-list">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog List</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- Blog Posts Start -->
  <div class="section section-padding posts">
    <div class="container">

      <div class="row">
        <div class="col-lg-8">


          <!-- Post Start -->
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/1.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
              <p class="post-text">
                Some quick example text to build on the card title and make up the bulk of the card's content
              </p>
            </div>
          </article>
          <!-- Post End -->

          <!-- Post Start -->
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1">
                <img src="assets/img/blog/5.jpg" alt="blog post">
              </a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy, Tomatoes and Parsley </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
          <!-- Post End -->

          <!-- Post Start -->
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
          <!-- Post End -->

          <!-- Post Start -->
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
              <div class="video-player-trigger">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  <div class="video-player-icons">
                    <i class="flaticon-pot"></i>
                    <i class="flaticon-taco"></i>
                    <i class="flaticon-bread"></i>
                    <i class="flaticon-chef"></i>
                    <i class="flaticon-diet"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">How-To</a>
              <a routerLink="/blog-list">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Chocolate Coated Browny </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
          <!-- Post End -->

          <!-- Post Start -->
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1">
                <img src="assets/img/blog/9.jpg" alt="blog post">
              </a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Medium Rare Steak with Grilled Tomatoes</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
          <!-- Post End -->

          <!-- Post Start -->
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/10.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/blog-list">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Grilled Lamb Coated With Butter and Thyme</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
          <!-- Post End -->


        </div>
        <div class="col-lg-4">
          <app-blog-sidebar></app-blog-sidebar>
        </div>
      </div>

    </div>
  </div>
  <!-- Blog Posts End -->
  <app-footer1></app-footer1>