  <app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>About Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/aboutus">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/aboutus">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- About Us Start -->
  <section class="section">
    <div class="imgs-wrapper">
      <img src="assets/img/veg/6.png" alt="veg" class="d-none d-lg-block">
      <img src="assets/img/veg/9.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">

      <div class="section-title-wrap text-center">
        <h2 class="title">A Cook for <span class="custom-primary">25 Years</span> a hobbiest for 30</h2>
        <p class="subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        </p>
        <a routerLink="/contactus" class="btn-custom primary"> Contact Me <i class="fas fa-arrow-right"></i> </a>
      </div>

    </div>
  </section>
  <!-- About Us End -->

  <!-- CTA Start -->
  <section class="section section-padding pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cta-item item-1">
            <div class="cta-item-inner">
              <span class="custom-secondary">Desserts</span>
              <h3>Fruity World</h3>
              <p>Entice yourself with delicious fruity meals!</p>
              <a routerLink="/recipe-archive" class="btn-custom secondary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-1.png" alt="cta">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta-item item-2">
            <div class="cta-item-inner">
              <span class="custom-primary">Vegan</span>
              <h3>Green World</h3>
              <p>Who said vegain food isn't tasty? Check out our vegan recipes!</p>
              <a routerLink="/recipe-archive" class="btn-custom primary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-2.png" alt="cta">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA End -->


  <!-- About us Start -->
  <section class="section pt-0">
    <div class="imgs-wrapper-2">
      <img src="assets/img/veg/3.png" alt="veg" class="d-none d-lg-block">
      <img src="assets/img/veg/5.png" alt="veg" class="d-none d-lg-block">
      <img src="assets/img/veg/8.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <div class="section-title-wrap">
            <h2 class="title">A Hobby, a Talent, and now, a <span class="custom-primary">Profession</span> </h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            </p>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
        </div>
      </div>

      <div class="section pb-0">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="section-title-wrap">
              <h2 class="title">Cooking is not just a skills, its a <span class="custom-primary">Passion</span> </h2>
              <p class="subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- About us End -->
  <app-footer1></app-footer1>