<!-- Footer Start -->
  <footer class="ct-footer footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-widget">
          <div class="footer-logo"> <img src="assets/img/logo-light.png" alt="cookiteer"> </div>
          <p>I provide new recipes with a twist on daily basis. I also post blog posts about fun ideas to do in the kitchen</p>
          <ul class="social-media">
            <li> <a href="javascript:void(0)"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-twitter"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-linkedin-in"></i> </a> </li>
          </ul>
        </div>
        <div class="offset-lg-1 offset-md-1 col-lg-3 col-md-3 col-sm-6 footer-widget">
          <h5 class="widget-title">Recipes</h5>
          <ul>
            <li> <a href="javascript:void(0)">Breakfast</a> </li>
            <li> <a href="javascript:void(0)">Desserts</a> </li>
            <li> <a href="javascript:void(0)">Dinner</a> </li>
            <li> <a href="javascript:void(0)">Dairy</a> </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 footer-widget">
          <h5 class="widget-title">Legal</h5>
          <ul>
            <li> <a href="javascript:void(0)">Privacy Policy</a> </li>
            <li> <a href="javascript:void(0)">Refund Policy</a> </li>
            <li> <a href="javascript:void(0)">Cookie Policy</a> </li>
            <li> <a href="javascript:void(0)">Terms & Conditions</a> </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="m-0">&copy; Copyright 2020 - Chez Juan All Rights Reserved.</p>
      </div>
    </div>

  </footer>
  <!-- Footer End -->