<app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Blog Single v3</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/blog-single-v3">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/blog-single-v3">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog Single v3</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- Blog Post Start -->
  <section class="section section-padding single-post-3">
    <div class="container">

      <!-- Content Start -->
      <article class="post-single">
        <div class="post-thumbnail">
          <img src="assets/img/blog/1.jpg" alt="post">
        </div>
        <div class="post-categories">
          <a routerLink="/blog-single-v3">Breakfast</a>
        </div>
        <h2 class="title">Puffy Pancakes Glazed With Caramel Topped With Fruits</h2>
        <div class="post-content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book.
          </p>
          <img src="assets/img/blog/11.jpg" alt="post">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
          </p>
          <blockquote>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </blockquote>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/blog/8.jpg" alt="post">
            </div>
            <div class="col-md-6">
              <img src="assets/img/blog/7.jpg" alt="post">
            </div>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </article>
      <!-- Content End -->

      <!-- Post Meta start -->
      <div class="post-meta">
        <div class="tags">
          <a routerLink="/blog-single-v3">Recipes</a>
          <a routerLink="/blog-single-v3">Food</a>
          <a routerLink="/blog-single-v3">Foodie</a>
          <a routerLink="/blog-single-v3">Pancakes</a>
        </div>
      </div>
      <!-- Post Meta End -->

      <!-- About Author Start -->
      <div class="about-author">
        <h4>About the author</h4>
        <div class="about-author-inner">
          <img src="assets/img/people/people-4.jpg" alt="author">
          <div class="about-author-content">
            <h5>Joanna Flank</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.
            </p>
            <ul class="social-media">
              <li> <a routerLink="/blog-single-v3"> <i class="fab fa-facebook-f"></i> </a> </li>
              <li> <a routerLink="/blog-single-v3"> <i class="fab fa-twitter"></i> </a> </li>
              <li> <a routerLink="/blog-single-v3"> <i class="fab fa-linkedin-in"></i> </a> </li>
              <li> <a routerLink="/blog-single-v3"> <i class="fab fa-pinterest-p"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- About Author End -->

      <!-- Comments Start -->
      <div class="comments-list">
        <h4>2 Comments</h4>
        <ul>
          <li class="comment-item">
            <img src="assets/img/people/people-1.jpg" alt="comment author">
            <div class="comment-body">
              <h5>John Doe</h5>
              <span>Posted on: January 13 2020</span>
              <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
              <a routerLink="/blog-single-v3" class="reply-link"> Reply </a>
            </div>
          </li>
          <li class="comment-item">
            <img src="assets/img/people/people-2.jpg" alt="comment author">
            <div class="comment-body">
              <h5>John Doe</h5>
              <span>Posted on: January 13 2020</span>
              <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches</p>
              <a routerLink="/blog-single-v3" class="reply-link"> Reply </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="comment-form">
        <h4>Leave a Reply</h4>
        <form method="post">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Full Name" name="fname" value="">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" placeholder="Email Address" name="email" value="">
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" placeholder="Type your comment..." name="comment" rows="7"></textarea>
            </div>
          </div>

          <button type="button" class="btn-custom primary" name="button">Post comment</button>
        </form>
      </div>
      <!-- Comments End -->


    </div>
  </section>
  <!-- Blog Posts End -->
  <app-footer1></app-footer1>