<app-header3></app-header3>
<!-- Banner Start -->
<div class="banner banner-img">

  <!-- Prev Arrow -->
  <!-- <i class="slider-prev fas fa-arrow-left slick-arrow"></i> -->

  <div class="banner-slider">
    <div class="banner-item">
      <div class="banner-inner dark-overlay" style="background-image: url('assets/images/chef_bg.jpg')">
        <div class="container">
          <h1 class="title text-white">Cooking Never Got Any <span class="custom-primary">Easier</span> </h1>
          <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami
            pork picanha tongue venison strip steak</p>
          <a routerLink="/homepage3" class="btn-custom primary shadow-none">Get my Cook Book <i
              class="fas fa-arrow-right"></i> </a>
        </div>
      </div>
    </div>
    <!--<div class="banner-item">
      <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/3.jpg')">
        <div class="container">
          <h1 class="title text-white">Learn The <span class="custom-primary">Art</span> Of Cooking Here</h1>
          <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami
            pork picanha tongue venison strip steak</p>
          <a routerLink="/contactus" class="btn-custom primary shadow-none">Contact Me <i
              class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="banner-item">
      <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/4.jpg')">
        <div class="container">
          <h1 class="title text-white"><span class="custom-primary">Elevate</span> Your Cooking Skills</h1>
          <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami
            pork picanha tongue venison strip steak</p>
          <a routerLink="/homepage3" class="btn-custom primary shadow-none">Visit My Blog <i
              class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Next Arrow -->
  <!-- <i class="slider-next fas fa-arrow-right slick-arrow"></i> -->
</div>
<!-- Banner End -->

<!-- Categories Section Start -->
<div class="section section-padding ct-categories ct-categories-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/breakfast.jpg" alt="category">
            <span>17 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Breakfast</h5>
            <p>Who said breakfast can't be delicious</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/quick-food.jpg" alt="category">
            <span>27 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Quick Food</h5>
            <p>Delve into the world of fast food with my recipes</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/cuisine.jpg" alt="category">
            <span>13 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Cuisine</h5>
            <p>Fine dining can also be cheap. Worry less, cook more</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/vegan.jpg" alt="category">
            <span>21 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Vegan</h5>
            <p>Did someone say vegan burgers? We got it here</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/dairy.jpg" alt="category">
            <span>12 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Dairy</h5>
            <p>From yogurt, to curd, to cheese, we got it all</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/desserts.jpg" alt="category">
            <span>75 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Desserts</h5>
            <p>Flambé your desserts with style, wow your family</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/pizzas.jpg" alt="category">
            <span>44 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Pizzas</h5>
            <p>Cheesy heaven straight into your mouth.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/recipe-archive" class="ct-category">
          <div class="ct-category-img">
            <img src="assets/img/categories/pancakes.jpg" alt="category">
            <span>32 Recipes</span>
          </div>
          <div class="ct-category-info">
            <h5>Pancakes</h5>
            <p>Diet, or puffy pancakes, learn both today</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->
<app-footer3></app-footer3>