<app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Shop</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/shop">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <section class="section section-padding posts">
    <div class="container">

      <div class="row">

        <div class="col-lg-8">

          <!-- Toggle & Filter Start -->
          <div class="filter-wrapper">
            <div class="view-toggler">
              <i class="fas fa-th toggle-grid active"></i>
              <i class="fas fa-th-list toggle-list"></i>
            </div>
            <select class="form-control">
              <option value="popularity">Sort by popularity</option>
              <option value="latest">Sort by latest</option>
              <option value="price-high-low">Sort by price: High to Low</option>
              <option value="price-low-high">Sort by price: Low to High</option>
            </select>
          </div>
          <!-- Toggle & Filter End -->

          <div class="row">
            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/2.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Buy Now <i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">Oak Wood Cutting Board</a> </h5>
                  <p class="product-price custom-secondary">20.00$</p>
                  <p class="product-text">Finely crafted wood board for all kinds of ingredients. Board does meat, vegetables...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/5.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Select Options <i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">Coffee Mug</a> </h5>
                  <p class="product-price custom-secondary">12.00$ - 24.00$</p>
                  <p class="product-text">Coffee mug which keeps hot drinks hot, and cold drinks cold...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/1.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Select Options <i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">Custom Branded Kettle</a> </h5>
                  <p class="product-price custom-secondary">32.00$ - 48.00$</p>
                  <p class="product-text">This kettle boils water faster than you can count to ten, enjoy coffee...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/6.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Buy Now<i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">Custom Made Blender</a> </h5>
                  <p class="product-price custom-secondary">180.00$</p>
                  <p class="product-text">This blender is used to blend everything and anything, from fruits to veg...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/3.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Buy Now <i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">State of The Art Spoon</a> </h5>
                  <p class="product-price custom-secondary">8.00$</p>
                  <p class="product-text">Finely crafted wood spoon that can stir anything, from soup to vegemite...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-6">
              <div class="ct-product">
                <div class="ct-product-thumbnail">
                  <a routerLink="/product-detail"><img src="assets/img/products/7.png" alt="product"></a>
                  <div class="ct-product-controls">
                    <a routerLink="/product-detail" class="btn-custom secondary">Select Options <i class="fas fa-arrow-right"></i> </a>
                  </div>
                </div>
                <div class="ct-product-body">
                  <h5 class="product-title"> <a routerLink="/product-detail">Pure Silver Spoon</a> </h5>
                  <p class="product-price custom-secondary">4.00$ - 6.00$</p>
                  <p class="product-text">This spoon can change shapes at will, just think about it...</p>
                </div>
              </div>
            </div>
            <!-- Product End -->

          </div>

          <!-- Pagination Start -->
            <ul class="pagination">
              <li class="page-item"><a class="page-link" routerLink="/shop">1</a></li>
              <li class="page-item active">
                <a class="page-link" routerLink="/shop">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" routerLink="/shop">3</a></li>
            </ul>
          <!-- Pagination End -->

        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">

          <app-shop-sidebar></app-shop-sidebar>

        </div>
        <!-- Sidebar End -->

      </div>

    </div>
  </section>
   <app-footer1></app-footer1>