<!-- Aside (Mobile Navigation) -->
  <aside class="main-aside">
    <a class="navbar-brand" routerLink="/"> <img src="assets/images/ChezJuan.Logo.PNG" alt="logo"> </a>

    <div class="aside-scroll">
      <ul>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Home Pages</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
            <li class="menu-item"> <a routerLink="/homepage2">Home v2</a> </li>
            <li class="menu-item"> <a routerLink="/homepage3">Home v3</a> </li>
            <li class="menu-item"> <a routerLink="/homepage4">Home v4</a> </li>
            <li class="menu-item"> <a routerLink="/homepage5">Home v5</a> </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Blog</a>
          <ul class="submenu">
            <li class="menu-item menu-item-has-children">
              <a routerLink="/blog-grid">Blog Archive</a>
              <ul class="submenu">
                <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                <li class="menu-item"> <a routerLink="/blog-masonry">Masonry</a> </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a routerLink="/blog-single-v1">Blog Single</a>
              <ul class="submenu">
                <li class="menu-item"> <a routerLink="/blog-single-v1">Blog Single v1</a> </li>
                <li class="menu-item"> <a routerLink="/blog-single-v2">Blog Single v2</a> </li>
                <li class="menu-item"> <a routerLink="/blog-single-v3">Blog single v3</a> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Pages</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/aboutus">About Us</a> </li>
            <li class="menu-item"> <a routerLink="/login">Login</a> </li>
            <li class="menu-item"> <a routerLink="/signup">Sign Up</a> </li>
            <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
            <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
            <li class="menu-item"> <a routerLink="/product-detail">Product Details</a> </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="javascript:void(0)">Recipes</a>
          <ul class="submenu">
            <li class="menu-item"> <a routerLink="/recipe-archive">Recipe Archive</a> </li>
            <li class="menu-item"> <a routerLink="/recipe-detail">Recipe Details</a> </li>
          </ul>
        </li>
        <li class="menu-item">
          <a routerLink="/shop">Shop</a>
        </li>
        <li class="menu-item">
          <a routerLink="/contactus">Contact Us</a>
        </li>
      </ul>

    </div>

  </aside>
  <div class="aside-overlay aside-trigger"></div>

  <!-- Header Start -->
  <header class="main-header header-2 header-absolute">
    <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/"> <img src="assets/img/logo-lg-light.png" alt="logo"> </a>
        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Home Pages</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
              <li class="menu-item"> <a routerLink="/homepage2">Home v2</a> </li>
              <li class="menu-item"> <a routerLink="/homepage3">Home v3</a> </li>
              <li class="menu-item"> <a routerLink="/homepage4">Home v4</a> </li>
              <li class="menu-item"> <a routerLink="/homepage5">Home v5</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Blog</a>
            <ul class="submenu">
              <li class="menu-item menu-item-has-children">
                <a routerLink="/blog-grid">Blog Archive</a>
                <ul class="submenu">
                  <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-masonry">Masonry</a> </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a routerLink="/blog-single-v1">Blog Single</a>
                <ul class="submenu">
                  <li class="menu-item"> <a routerLink="/blog-single-v1">Blog Single v1</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-single-v2">Blog Single v2</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-single-v3">Blog single v3</a> </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Pages</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/aboutus">About Us</a> </li>
              <li class="menu-item"> <a routerLink="/login">Login</a> </li>
              <li class="menu-item"> <a routerLink="/signup">Sign Up</a> </li>
              <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
              <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
              <li class="menu-item"> <a routerLink="/product-detail">Product Details</a> </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="javascript:void(0)">Recipes</a>
            <ul class="submenu">
              <li class="menu-item"> <a routerLink="/recipe-archive">Recipe Archive</a> </li>
              <li class="menu-item"> <a routerLink="/recipe-detail">Recipe Details</a> </li>
            </ul>
          </li>
          <li class="menu-item">
            <a routerLink="/shop">Shop</a>
          </li>
          <li class="menu-item">
            <a routerLink="/contactus">Contact Us</a>
          </li>
        </ul>

        <!-- Toggler -->
        <div class="aside-toggler aside-trigger">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
    </nav>
  </header>
  <!-- Header End -->