<app-header2></app-header2>
<!-- Banner Start -->
  <div class="banner dark-overlay" style="background-image: url('assets/img/banner/1.jpg')">

    <!-- Prev Arrow -->
    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
    <div class="container">

      <div class="banner-slider">
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Cooking Never Got Any <span class="custom-primary">Easier</span> </h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/homepage2" class="btn-custom primary shadow-none">Get my Cook Book <i class="fas fa-arrow-right"></i> </a>
          </div>
        </div>
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Learn The <span class="custom-primary">Art</span> Of Cooking Here</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/contactus" class="btn-custom primary shadow-none">Contact Me <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white"><span class="custom-primary">Elevate</span> Your Cooking Skills</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/homepage2" class="btn-custom primary shadow-none">Visit My Blog <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- Next Arrow -->
    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/breakfast.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Breakfast</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/quick-food.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Quick Food</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/cuisine.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Cuisine</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/vegan.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Vegan</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/dairy.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Dairy</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/desserts.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Desserts</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/pizzas.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Pizzas</h5>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-img">
              <img src="assets/img/categories/pancakes.jpg" alt="category">
            </div>
            <div class="ct-category-info">
              <h5>Pancakes</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">From My Blog </h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date
        </p>
      </div>
      <div class="row">

        <!-- Post Start -->
        <div class="col-lg-12">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/1.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage2">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
              <p class="post-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled
              </p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1">
                <img src="assets/img/blog/5.jpg" alt="blog post">
              </a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage2">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy, Tomatoes and Parsley </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage2">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-7 col-md-6">
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
              <div class="video-player-trigger">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  <div class="video-player-icons">
                    <i class="flaticon-pot"></i>
                    <i class="flaticon-taco"></i>
                    <i class="flaticon-bread"></i>
                    <i class="flaticon-chef"></i>
                    <i class="flaticon-diet"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage2">How-To</a>
              <a routerLink="/homepage2">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Chocolate Coated Browny </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-5 col-md-6">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/8.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/homepage2">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Oat Pancakes With Strawberry and Blueberry </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      </div>
    </div>
  </section>
  <!-- Blog Posts End -->

  <!-- Testimonials Start -->
  <section class="section light-bg bg-cover" style="background-image:url('assets/images/chef_bg.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Testimonials</h2>
      </div>

      <div class="ct-testimonials">
        <div class="ct-testimonials-slider">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Johny White</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Brian Fitz</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
        </div>
        <div class="ct-arrows">
          <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
          <i class="slider-next fas fa-arrow-right slick-arrow"></i>
        </div>
      </div>

    </div>
  </section>
  <!-- Testimonials End -->

  <!-- Recipes Start -->
  <section class="section section-padding">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Hot Recipes</h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Check out what the people have to say about them
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="recipe">
            <div class="recipe-thumbnail">
              <a routerLink="/recipe-detail">
                <img src="assets/img/blog/5.jpg" alt="blog post">
              </a>
            </div>
            <div class="recipe-body">
              <h5 class="recipe-title"> <a routerLink="/recipe-detail">Rare Tenderloine With Gravy, Tomatoes and Parsley </a> </h5>
              <p class="recipe-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
              <div class="recipe-meta">
                <div class="recipe-difficulty">
                  <div class="recipe-difficulty-inner">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span></span>
                  </div>
                  <span>Home Cook</span>
                </div>
                <div class="recipe-steps">
                  <span><i class="fas fa-concierge-bell"></i> 24 Steps</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="recipe">
            <div class="recipe-thumbnail">
              <a routerLink="/recipe-detail">
                <img src="assets/img/blog/3.jpg" alt="blog post">
              </a>
            </div>
            <div class="recipe-body">
              <h5 class="recipe-title"> <a routerLink="/recipe-detail">Rare Tenderloine With Gravy, Tomatoes and Parsley </a> </h5>
              <p class="recipe-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
              <div class="recipe-meta">
                <div class="recipe-difficulty">
                  <div class="recipe-difficulty-inner">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                  </div>
                  <span>Expert Chef</span>
                </div>
                <div class="recipe-steps">
                  <span><i class="fas fa-concierge-bell"></i> 47 Steps</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="recipe">
            <div class="recipe-thumbnail">
              <a routerLink="/recipe-detail">
                <img src="assets/img/blog/4.jpg" alt="blog post">
              </a>
            </div>
            <div class="recipe-body">
              <h5 class="recipe-title"> <a routerLink="/recipe-detail">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="recipe-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
              <div class="recipe-meta">
                <div class="recipe-difficulty">
                  <div class="recipe-difficulty-inner">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                  </div>
                  <span>Amateur</span>
                </div>
                <div class="recipe-steps">
                  <span><i class="fas fa-concierge-bell"></i> 13 Steps</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Recipes End -->

  <!-- Instagram Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/1.jpg" alt="ig">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/2.jpg" alt="ig">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/3.jpg" alt="ig">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/4.jpg" alt="ig">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/5.jpg" alt="ig">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a routerLink="/homepage2" class="ct-ig-item ig-2">
          <img src="assets/img/ig/6.jpg" alt="ig">
        </a>
      </div>
    </div>
  </div>
  <!-- Instagram End -->
  <app-footer2></app-footer2>