<article class="post">
  <div class="post-thumbnail">
    <img src="{{recommendation.image}}" alt="Recommendation">
    <div class="post-meta">
      <span>{{recommendation.date}}</span>
      <span>Posted by {{recommendation.author}}</span>
    </div>
  </div>
  <!--<div class="post-categories">
    <a routerLink="/blog-grid">Breakfast</a>
  </div>-->
  <div class="post-body">
    <h5 class="post-title">{{recommendation.title}}</h5>
    <p class="product-price custom-secondary">${{recommendation.price}}</p>
    <p class="post-text">
      {{recommendation.description}}
    </p>
    <div><a class="btn btn-primary" target="_blank" href="{{recommendation.link}}">Buy on Amazon</a></div>
  </div>
</article>