<app-header4></app-header4>
<!-- Banner Start -->
  <div class="banner banner-carousel banner-img">

    <!-- Prev Arrow -->
    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>

      <div class="banner-carousel-slider">
        <div class="banner-item">
          <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/5.jpg')">
            <div class="container">
              <h1 class="title text-white">Poached Eggs</h1>
              <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
              <a routerLink="/homepage4" class="btn-custom primary shadow-none">View Recipe <i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
        <div class="banner-item">
          <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/6.jpg')">
            <div class="container">
              <h1 class="title text-white">Scrambled Eggs</h1>
              <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
              <a routerLink="/homepage4" class="btn-custom primary shadow-none">View Recipe <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="banner-item">
          <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/7.jpg')">
            <div class="container">
              <h1 class="title text-white">Chinese Noodles</h1>
              <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
              <a routerLink="/homepage4" class="btn-custom primary shadow-none">View Recipe <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="banner-item">
          <div class="banner-inner dark-overlay" style="background-image: url('assets/img/banner/8.jpg')">
            <div class="container">
              <h1 class="title text-white">Mushroom Soup</h1>
              <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
              <a routerLink="/homepage4" class="btn-custom primary shadow-none">View Recipe <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    <!-- Next Arrow -->
    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-croissant"></i>
              <h5>Breakfast</h5>
              <span>17 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-taco"></i>
              <h5>Quick Food</h5>
              <span>87 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pot"></i>
              <h5>Cuisine</h5>
              <span>36 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-diet"></i>
              <h5>Vegan</h5>
              <span>42 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-dairy-products"></i>
              <h5>Dairy</h5>
              <span>55 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pudding"></i>
              <h5>Desserts</h5>
              <span>45 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pizza"></i>
              <h5>Pizzas</h5>
              <span>13 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/recipe-archive" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pancakes"></i>
              <h5>Pancakes</h5>
              <span>21 Recipes</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">From My Blog </h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date
        </p>
      </div>

      <div class="row">
        <div class="col-lg-8">

          <div class="row">

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2">
                <div class="post-thumbnail">
                  <a routerLink="/blog-single-v1"> <img src="assets/img/blog/1.jpg" alt="blog post"> </a>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a routerLink="/homepage4">Breakfast</a>
                  </div>
                  <h5 class="post-title"> <a routerLink="/blog-single-v1">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span> <i class="far fa-calendar"></i> January 22, 2020</span>
                    <span> <i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2">
                <div class="post-thumbnail">
                  <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a routerLink="/homepage4">Lunch</a>
                  </div>
                  <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span><i class="far fa-calendar"></i> January 24, 2020</span>
                    <span><i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2 post-format-video">
                <div class="post-thumbnail">
                  <a routerLink="/blog-single-v1"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
                  <div class="video-player-trigger">
                    <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                      <i class="fas fa-play"></i>
                      <div class="video-player-icons">
                        <i class="flaticon-pot"></i>
                        <i class="flaticon-taco"></i>
                        <i class="flaticon-bread"></i>
                        <i class="flaticon-chef"></i>
                        <i class="flaticon-diet"></i>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a routerLink="/homepage4">Breakfast</a>
                  </div>
                  <h5 class="post-title"> <a routerLink="/blog-single-v1">Chocolate Coated Browny</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span><i class="far fa-calendar"></i> January 26, 2020</span>
                    <span> <i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

          </div>

        </div>
        <div class="col-lg-4">
          <div class="sidebar">

            <div class="sidebar-widget">
              <h5>Recent Posts</h5>
              <article class="media">
                <a routerLink="/blog-single-v1"><img src="assets/img/blog/10.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a routerLink="/blog-single-v1">Grilled Lamb Coated With Butter and Thyme</a> </h6>
                  <p>January 22, 2020</p>
                </div>
              </article>
              <article class="media">
                <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese</a> </h6>
                  <p>January 24, 2020</p>
                </div>
              </article>
              <article class="media">
                <a routerLink="/blog-single-v1"><img src="assets/img/blog/7.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a routerLink="/blog-single-v1">Sugary Pancakes Dressed With Cream</a> </h6>
                  <p>January 26, 2020</p>
                </div>
              </article>
              <article class="media">
                <a routerLink="/blog-single-v1"><img src="assets/img/blog/5.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy, Tomatoes and Parsley</a> </h6>
                  <p>January 28, 2020</p>
                </div>
              </article>
            </div>
            <div class="sidebar-widget">
              <h5>Featured Recipes</h5>

              <div class="recipe featured-recipe">
                <div class="recipe-thumbnail">
                  <a routerLink="/recipe-detail">
                    <img src="assets/img/blog/7.jpg" alt="blog post">
                  </a>
                </div>
                <div class="recipe-body">
                  <h6 class="recipe-title"> <a routerLink="/recipe-detail">Sugary Pancakes Dressed With Cream and Raspberries</a> </h6>
                  <div class="recipe-meta">
                    <div class="recipe-difficulty">
                      <div class="recipe-difficulty-inner">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                      </div>
                      <span>Home Cook</span>
                    </div>
                    <div class="recipe-steps">
                      <span><i class="fas fa-concierge-bell"></i> 24 Steps</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="recipe featured-recipe">
                <div class="recipe-thumbnail">
                  <a routerLink="/recipe-detail">
                    <img src="assets/img/blog/11.jpg" alt="blog post">
                  </a>
                </div>
                <div class="recipe-body">
                  <h6 class="recipe-title"> <a routerLink="/recipe-detail">Fig and Raspberry Cake With Sugar Filling and Coating</a> </h6>
                  <div class="recipe-meta">
                    <div class="recipe-difficulty">
                      <div class="recipe-difficulty-inner">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                      </div>
                      <span>Amateur</span>
                    </div>
                    <div class="recipe-steps">
                      <span><i class="fas fa-concierge-bell"></i> 13 Steps</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Blog Posts End -->

  <!-- Products Start -->
  <section class="section dark-overlay dark-overlay-2 bg-parallax bg-center" style="background-image: url('assets/img/bg/4.jpg')">
    <div class="container">
      <div class="section-title-wrap text-center">
        <h2 class="text-white title">Cook Book With a Thousand Recipes</h2>
        <p class="text-white subtitle">
          Get my cook book today and learn a thousand recipes for only 49.99$.
        </p>
        <a routerLink="/shop" class="btn-custom primary">Go to Store <i class="fas fa-arrow-right"></i> </a>
      </div>

    </div>
  </section>
  <!-- Products End -->

  <!-- Recipes Start -->
  <section class="section section-padding">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Most Demanded Recipes</h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Check out what the people have to say about them
        </p>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a routerLink="/recipe-detail">
            <img src="assets/img/blog/10.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a routerLink="/recipe-detail">Grilled Lamb Coated With Butter and Thyme</a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <span>Amateur</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 24 Steps</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 40 mins</span>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a routerLink="/recipe-detail">
            <img src="assets/img/blog/11.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a routerLink="/recipe-detail">Fig and Raspberry Cake With Sugar Filling and Coating </a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
              </div>
              <span>Chef</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 66 Steps</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 120 mins</span>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a routerLink="/recipe-detail">
            <img src="assets/img/blog/9.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a routerLink="/recipe-detail">Rare Tenderloine With Gravy, Tomatoes and Parsley </a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <span>Home Cook</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 42 Steps</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 50 mins</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Recipes End -->

  <!-- Testimonials Start -->
  <section class="section light-bg bg-cover" style="background-image:url('assets/images/chef_bg.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Testimonials</h2>
      </div>

      <div class="ct-testimonials">
        <div class="ct-testimonials-slider">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Johny White</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span>Brian Fitz</span>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
        </div>
        <div class="ct-arrows">
          <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
          <i class="slider-next fas fa-arrow-right slick-arrow"></i>
        </div>
      </div>

    </div>
  </section>
  <!-- Testimonials End -->

  <!-- Instagram Start -->
  <div class="section">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/1.jpg" alt="ig">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/2.jpg" alt="ig">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/3.jpg" alt="ig">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/4.jpg" alt="ig">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/5.jpg" alt="ig">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
          <a routerLink="/homepage4" class="ct-ig-item">
            <img src="assets/img/ig/6.jpg" alt="ig">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Instagram End -->

  <!-- Newsletter start -->
  <section class="section light-bg bg-cover" style="background-image:url('assets/img/bg/1.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Subscribe to My Newsletter</h2>
        <p class="subtitle">
          Get access to my latest recipes by joining the weekly newsletter
        </p>
      </div>

      <form class="ct-newsletter" method="post">
        <input type="email" class="form-control" placeholder="Enter your email address" value="">
        <button type="button" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
      </form>

    </div>
  </section>
  <!-- Newsletter End -->
  <app-footer4></app-footer4>